.menu_tab {
  margin: 0;
  color: #9bb79c;
  font-family: monospace;
  font-size: 1.2em;
  background-color: #1f3241;
  padding: 5px 15px;
  width: 100%;
  position: fixed;

}

.menu_button {
  position: relative;
  text-decoration: none;
  margin: 0;
  color: #9bb79c;
  font-family: monospace;
  font-size: 2em;
  background-color: #657a73;
  padding: 12px 30px;
  margin-bottom: 5px;
  width: 100%;
}

.menu_button_lock {
  position: relative;
  text-decoration: none;
  margin: 0;
  color: #7b7b68;
  font-family: monospace;
  font-size: 2em;
  background-color: #545e5d;
  padding: 12px 100% 12px 30px;
  margin-bottom: 5px;
}



.cont_menu_mod {
  padding-top: 25px;
  overflow-x: hidden;
  background-color: #1f3241;
}

.cont_menu_dif {
  position: absolute;
  width: 100%;
}
