body {
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: #1a1a20;

}

.container {
  display: flex;

  width: 100%;
  height: 100vh;
}

.flor {
  width: 100%;
  background-color: #2b2b31;
  height: 50px;

  align-self: flex-end;
}

.player {
  position: absolute;
  align-self: flex-end;

  margin-bottom: 50px;

  width: 50px;
  height:  50px;
  background-color: #f88;

  transition: all linear 0.2s;
}
